services:
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    networks: [agri]
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
      - ZOOKEEPER_TICK_TIME=2000
    networks: [agri]

  simulator:
    build:
      context: .
      dockerfile: ./simulator/Dockerfile
    container_name: iot-simulator
    env_file: .env
    volumes:
      - ./scripts:/app/scripts
      - ./data:/app/data
      - ./.env:/app/.env
    command: >
      sh -c "python /app/scripts/split_data.py && 
             python /app/scripts/iot_simulator.py"
    depends_on:
      - kafka
    networks: [agri]

  bridge:
    build:
      context: .
      dockerfile: ./bridge/Dockerfile
    container_name: mqtt-kafka-bridge
    env_file: .env
    volumes:
      - ./scripts:/app/scripts
      - ./.env:/app/.env
    command: python /app/scripts/mqtt_kafka_bridge.py
    depends_on:
      - kafka
    networks: [agri]

  spark-processor:
    build:
      context: .
      dockerfile: ./spark/Dockerfile
    container_name: spark-processor
    depends_on:
      kafka:
        condition: service_healthy  
      bridge:
        condition: service_started
    networks: [agri]

networks:
  agri:
    driver: bridge
